.extensions-wisher-header-nav {
  display: grid;

  grid-template-columns: auto 1fr 38px;
  align-items: center;

  padding: 9px 7px;

  box-shadow: 0 -1px 0 0 inset #e7e7e7;

  text-align: center;

  font-size: 16px;
}
