.extensions-wisher-header-nav {
  display: grid;

  grid-template-columns: auto 1fr 38px;
  align-items: center;

  padding: 9px 7px;

  box-shadow: 0 -2px 0 0 inset var(--extensions-mode-color-grey);

  text-align: center;
}
