.extensions-wisher-details-options {
  display: grid;

  align-items: flex-start;

  &__store-links {
    padding: 16px;

    display: flex;
    justify-content: space-between;
  }

  &__external-link {
    [alt="outside"] {
      margin-left: auto;
      margin-right: 5px;
    }
  }
}
