.extensions-wisher-page {
  position: relative;

  width: 100%;

  display: grid;
  grid-template-rows: auto 1fr auto;

  &__popup {
    padding: 0 16px;
  }

  &__labels {
    margin-top: 16px;
  }
}
