.extensions-wisher-page {
  position: relative;

  width: 100%;

  display: grid;
  grid-template-rows: auto 1fr auto;

  &__popup {
    padding: 0 16px;
  }

  &__collections {
    padding: 4px;

    max-width: calc(var(--extensions-wisher-width) - 16px * 2 - 3px);

    overflow: auto;

    overscroll-behavior: contain;

    &::-webkit-scrollbar {
      height: 3px;
    }

    &::-webkit-scrollbar-track {
      background: none;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--extensions-mode-color-grey);
      border-radius: 3px;
    }
  }
}
