.extensions-wisher-user-panel {
  padding: 8px 16px;

  display: grid;
  gap: 0 15px;
  align-items: center;

  grid-template-columns: auto 1fr;

  &__user {
    overflow: hidden;

    grid-area: 1/1 / 2/2;

    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__user-info {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__user-image {
    border-radius: 50%;
  }

  &__user-name {
    color: var(--extension-mode-text-light);

    font-size: 16px;

    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__auth-message {
    display: flex;
    align-items: center;
    column-gap: 5px;

    font-size: 12px;

    color: var(--extensions-wisher-special);
  }

  &__user-email {
    font-size: 12px;

    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    color: var(--extensions-wisher-primary);
  }

  &__action {
    grid-area: 1/2 / 2/3;

    text-align: right;

    & .__extensions-wisher-btn__ {
      font-size: 16px;
      font-weight: 500;
    }
  }
}
