.extensions-wisher-user-panel {
  padding: 8px 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__user {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  &__user-name {
    color: hsla(0, 0%, 0%, 0.87);

    font-size: 16px;
  }

  &__auth-message {
    display: flex;
    align-items: center;
    column-gap: 5px;

    color: var(--extensions-wisher-special);

    font-size: 12px;
  }

  &__action .__extensions-wisher-btn__ {
    font-size: 16px;
  }
}
