.extensions-wisher-wishes-collection {
  display: grid;
  grid-template-rows: auto 1fr;

  overflow: hidden;

  &__header {
    padding: 5px 10px 5px 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 12px;
  }

  &__tools {
    display: flex;

    & .__extensions-wisher-btn__ {
      color: var(--extensions-mode-color-grey-strong);
    }
  }

  &__loader {
    width: 38px;
    height: 38px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    & .extensions-wisher-loader {
      --extensions-wisher-loader-color: var(
        --extensions-mode-color-grey-strong
      );
    }
  }

  &__scroll-bar {
    overflow: auto;

    overscroll-behavior-y: contain;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: none;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--extensions-mode-color-grey);

      border-radius: 3px;
    }
  }
}
