.extensions-wisher-all-wishes-page {
  display: grid;

  overflow: hidden;

  &__content {
    overflow: hidden;

    display: grid;
    grid-template-rows: auto 1fr;
  }

  &__panel {
    padding: 5px 10px 5px 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 12px;
  }

  &__tools {
    display: flex;
  }

  &__loader {
    width: 38px;
    height: 38px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    & .extensions-wisher-loader {
      --extensions-wisher-loader-color: var(
        --extensions-mode-color-grey-strong
      );
    }
  }
}
