.extensions-wisher-all-wishes-page {
  display: grid;

  &__empty-list {
    margin-top: auto;

    text-align: center;

    padding-bottom: 50px;
  }

  &__title {
    margin: 25px 0;

    font-size: 20px;
    font-weight: 500;
  }

  &__description {
    font-size: 14px;

    color: var(--extensions-mode-text-secondary);
  }

  &__action {
    & .__extensions-wisher-btn__ {
      text-transform: uppercase;
    }
  }
}
