.extensions-wisher-all-wishes-page {
  display: grid;

  overflow: hidden;

  &__panel {
    padding: 5px 10px 5px 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 12px;
  }

  &__tools {
    display: flex;
  }
}
