.extensions-wisher-textarea {
  display: inline-grid;

  &__title {
    padding: 4px 8px;

    font-size: 10px;
    font-weight: 500;

    color: var(--extension-mode-text-light);

    text-transform: uppercase;
  }

  &__textarea {
    resize: none;

    border: none;
    outline: none;

    width: 100%;

    padding: 12px 16px;

    border-radius: 6px;

    background-color: var(--extension-wisher-field-back);

    border-radius: 6px;

    transition: box-shadow 150ms;

    font-size: 16px;

    color: #000000;

    &:focus-within {
      box-shadow: 0 4px 0 -1px var(--extension-wisher-primary-medium);
    }
  }
}
