.extensions-wisher-wishes-empty {
  margin-top: auto;

  text-align: center;

  padding-bottom: 52px;

  &__title {
    margin: 24px 0;

    font-size: 20px;
    font-weight: 500;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 24px;

    font-size: 14px;

    color: var(--extensions-mode-text-secondary);
  }

  &__action {
    span {
      font-weight: 500;
    }
  }
}
