.extensions-wisher-root {
  position: fixed;

  top: 120px;
  right: 0;

  display: flex;

  width: var(--extensions-wisher-width);
  height: var(--extensions-wisher-height);

  border-radius: var(--extensions-mode-border-radius);

  background-color: white;

  box-shadow: -6px 0 0 -2px var(--extensions-wisher-primary);

  filter: drop-shadow(0 2px 10px hsla(0, 0%, 0%, 0.15));

  transition: transform 200ms ease-in-out;

  &[is-show="true"] {
    transform: translateX(-20px);
  }

  &[is-show="false"] {
    transform: translateX(calc(4px + 100%));
  }
}
