.extensions-wisher-overlay {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--extensions-wisher-bac);

  &[is-overlay="true"] {
    animation: extensions-wisher-overlay-show forwards 200ms ease-in-out;
  }

  &[is-overlay="false"] {
    animation: extensions-wisher-overlay-hide forwards 200ms ease-in-out;
  }
}

@keyframes extensions-wisher-overlay-show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes extensions-wisher-overlay-hide {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
