.extensions-wisher-overlay {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: none;

  &[host-initial="true"] {
    display: block;

    background-color: var(--extensions-wisher-bac);
  }

  &--hide[host-initial="true"] {
    animation: hide-overlay 200ms forwards ease-in-out;
  }

  &--show[host-initial="true"] {
    animation: show-overlay 200ms forwards ease-in-out;
  }
}

@keyframes hide-overlay {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes show-overlay {
  0% {
    display: block;
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}
