@use "./content-base.scss";

@use "../views/wisher.scss";
@use "../views/pages/pages.scss";
@use "../views/components/components.scss";

.extensions-washer-host {
  --extensions-wisher-primary: #9025f1;

  --extensions-wisher-bac: hsl(287, 25%, 39%);

  * {
    box-sizing: border-box;
  }
}
