.__extensions-wisher-svg__ {
  width: 100%;
  z-index: 2;
}

.__extensions-wisher-btn__ {
  position: relative;

  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: none;

  margin: 0;
  padding: 0;

  background: none;

  overflow: hidden;

  cursor: pointer;
}
