.extensions-wisher-settings-item {
  display: inline-flex;
  justify-content: space-between;

  background: none;
  border: none;
  outline: none;

  padding: 16px;

  font-size: 16px;

  transition: background-color 150ms;

  cursor: pointer;

  &:hover {
    background-color: var(--extensions-wisher-primary-light);
  }
}
