.extensions-wisher-collection-settings-select {
  overflow: auto;

  display: grid;

  height: 270px;

  overscroll-behavior-y: contain;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--extensions-mode-color-grey);

    border-radius: 3px;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
  }

  &__title {
    margin: 24px 0;

    font-size: 20px;
    font-weight: 500;
  }

  &__loader {
    grid-area: 1/1 / 2/2;

    margin: 0 auto;

    padding: 20px;
  }

  &__items {
    grid-area: 1/1 / 2/2;

    &[is-hide="true"] {
      opacity: 0;
    }
  }

  &__item {
    padding: 8px 16px;

    min-height: 48px;

    display: grid;

    transition: background-color 150ms;

    cursor: pointer;

    &:hover {
      background-color: var(--extensions-wisher-primary-light);
    }
  }
}
