.extensions-wisher-login-page {
  width: 100%;

  display: grid;

  grid-template-rows: auto 1fr;

  &__main {
    margin-top: auto;

    text-align: center;
  }

  &__welcome {
    margin: 32px 0;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 48px;
    font-weight: 400;
  }

  &__description {
    margin: 0;

    font-size: 16px;

    &--grey {
      color: hsla(0, 0%, 0%, 0.6);
    }
  }

  &__action {
    padding: 20px 16px;

    display: grid;
    row-gap: 24px;

    font-size: 14px;

    & {
      .__extensions-wisher-btn__ {
        padding: 0 7px;
      }
    }

    & > :last-child {
      font-size: 10px;
      font-weight: 500;

      color: hsla(0, 0%, 0%, 0.6);
    }
  }

  &__google-login {
    flex: 1;

    display: grid;

    grid-template-columns: auto 1fr 27px;
    align-items: center;
    justify-content: center;

    color: hsla(0, 0%, 0%, 1);

    font-weight: 500;
  }
}
