.extensions-wisher-login-page {
  width: 100%;

  display: grid;

  grid-template-rows: auto 1fr;

  &__main {
    margin-top: auto;

    text-align: center;
  }

  &__welcome {
    margin: 32px 0 92px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;

    font-size: 48px;
    font-weight: 400;
  }

  &__description {
    margin: 0;

    font-size: 16px;

    &--grey {
      color: hsla(0, 0%, 0%, 0.6);
    }
  }

  &__action {
    padding: 24px 16px;

    display: grid;

    gap: 24px;
  }
}
