.extensions-wisher-item-collections {
  padding-bottom: 4px;

  overflow: auto;

  display: flex;

  column-gap: 8px;

  overscroll-behavior: contain;

  &::-webkit-scrollbar {
    height: 3px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--extensions-mode-color-grey);
    border-radius: 3px;
  }
}
