.extensions-wisher-help-page {
  display: grid;

  grid-template-rows: auto 1fr;

  &__link {
    justify-content: space-between;
  }

  & .__extensions-wisher-btn__ {
    transition: background-color 150ms;

    &:hover {
      background-color: var(--extensions-wisher-primary-light);
    }

    width: 100%;

    padding: 12px 16px;

    justify-content: flex-start;
  }
}
