.extensions-wisher-badge {
  --extensions-wisher-badge-size: 48px;

  position: absolute;

  display: inline-flex;

  padding: 10px;

  left: calc(var(--extensions-wisher-badge-size) * -1);
  top: 50%;

  transform: translateY(-50%);

  width: var(--extensions-wisher-badge-size);
  height: var(--extensions-wisher-badge-size);

  border-radius: 12px 0 0 12px;

  background-color: var(--extensions-wisher-primary);

  transition: background-color 200ms;

  cursor: pointer;

  &:hover {
    background-color: var(--extension-wisher-primary-strong);
  }

  animation: extensions-wisher-badge-show 200ms forwards ease-in;
}

@keyframes extensions-wisher-badge-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
