.extensions-wisher-image-upload {
  display: grid;

  justify-content: center;
  align-items: end;

  &__image-default {
    grid-area: 1/1 / 2/2;

    margin: 0 auto;
  }

  &__label {
    grid-area: 1/1 / 2/2;

    padding: 4px 16px;

    font-size: 12px;

    border-radius: 10px;

    box-shadow: 0 2px 2px 0 hsla(0, 0%, 0%, 0.15);

    margin: 0 auto;

    background-color: white;

    cursor: pointer;

    & input[type="file"] {
      display: none;
    }
  }
}
