.extension-rating-simple {
  display: inline-flex;
  justify-content: center;

  &__element {
    display: inline-flex;

    &[attr-readonly="false"] {
      cursor: pointer;
    }

    & > svg {
      path {
        transition: fill 150ms ease-in-out;
      }
    }
  }
}
