.extensions-wisher-add-form {
  margin-top: 15px;

  display: grid;
  row-gap: 20px;

  &__action {
    flex: 1;

    display: grid;
    grid-template-columns: 27px 1fr 27px;
    align-items: center;

    & > span {
      grid-area: 1/2 / 2/3;
    }

    & > .extensions-wisher-loader {
      grid-area: 1/3 / 2/4;

      --extensions-wisher-loader-color: white;
    }
  }
}
