.extensions-wisher-footer {
  overflow: hidden;

  height: 56px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  border-bottom-left-radius: var(--extensions-mode-border-radius);
  border-bottom-right-radius: var(--extensions-mode-border-radius);
}
