.extension-wisher-item-setting {
  display: grid;

  &__item {
    padding: 16px;

    margin-left: -16px;
    margin-right: -16px;

    font-size: 16px;

    transition: background-color 150ms;

    cursor: pointer;

    &:hover {
      background-color: var(--extensions-wisher-primary-light);
    }
  }
}
