.extensions-wisher-ripple {
  --extensions-wisher-ripple-color: var(--extensions-wisher-bac);

  position: absolute;

  border-radius: 50%;

  background: var(--extensions-wisher-ripple-color);

  transform: scale(0);

  animation: ripple-animation 500ms ease-out;

  pointer-events: none;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
