.extensions-wisher-settings-page {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: flex-start;

  &__content {
    display: grid;
  }

  &__languages {
    opacity: 0.5;

    padding: 12px 16px;

    font-size: 14px;
  }
}
