.extensions-wisher-input {
  display: grid;

  &__header {
    padding: 4px 8px;

    display: flex;
    justify-content: space-between;

    font-size: 10px;
  }

  &__title {
    font-weight: 500;

    color: var(--extension-mode-text-light);

    text-transform: uppercase;
  }

  &__error {
    color: var(--extensions-wisher-warn);
  }

  &__label {
    min-height: 48px;

    display: inline-flex;

    align-items: center;

    padding: 5px 16px;

    border-radius: 6px;

    background-color: var(--extension-wisher-field-back);

    justify-content: space-between;

    border-radius: 6px;

    transition: box-shadow 150ms;

    &:focus-within {
      box-shadow: 0 4px 0 -1px var(--extension-wisher-primary-medium);
    }
  }

  &__content {
    background: none;
    outline: none;
    border: none;

    caret-color: var(--extensions-wisher-primary);

    padding: 0;

    flex: 1;

    font-size: 14px;
  }

  &__children {
    min-width: 38px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
