.extensions-wisher-item {
  display: grid;
  grid-template-columns: 104px 1fr;
  gap: 0 16px;

  padding: 0 16px 16px 16px;

  &__header {
    padding: 8px 0;

    grid-area: 1/1 / 2/3;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--extensions-mode-text-secondary);

    font-size: 12px;
  }

  &__marketplace {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &__image {
    border-radius: 6px;

    background-color: white;
  }

  &__info {
    grid-area: 2/2 / 3/3;

    display: flex;
    flex-direction: column;
    row-gap: 8px;

    font-size: 14px;

    color: hsla(0, 0%, 0%, 1);

    & > :last-child {
      margin-top: auto;
    }
  }

  &__description {
    overflow: hidden;

    display: -webkit-box;

    line-height: 20px;

    text-wrap: balance;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__price {
    font-weight: 500;
  }
}
