.extensions-wisher-btn {
  &--default {
    padding: 8px 16px;

    border-radius: 10px;
  }

  &--default#{&}-color--default {
    color: var(--extensions-wisher-primary);

    box-shadow: 0 0 0 2px inset hsla(0, 0%, 0%, 0.12);
  }

  &--default#{&}-color--primary {
    background-color: var(--extensions-wisher-primary);

    color: white;
  }

  &--icon {
    padding: 8px;

    border-radius: 50%;
  }

  &--icon#{&}-color--default {
    color: #000;
  }

  &--icon#{&}-color--primary {
    color: var(--extensions-wisher-primary);
  }

  &--stroke {
    width: 100%;

    height: 100%;
  }

  &--stroke#{&}-color--primary,
  &--stroke#{&}-color--default {
    color: var(--extensions-wisher-primary);
  }
}
