.extensions-wisher-btn {
  &--default {
    padding: 8px 16px;

    border-radius: 16px;
  }

  &--default#{&}-color--default {
    color: var(--extensions-wisher-primary);

    box-shadow: 0 0 0 2px inset hsla(0, 0%, 0%, 0.12);
  }

  &--default#{&}-color--primary {
    background-color: var(--extensions-wisher-primary);

    color: white;
  }

  &--icon {
    padding: 7px;

    border-radius: 50%;
  }

  &--stroke {
    padding: 1px;
    border-radius: 1px;
  }

  &--icon#{&}-color--default,
  &--stroke#{&}-color--default {
    color: var(--extensions-mode-text);
  }

  &--icon#{&}-color--primary,
  &--stroke#{&}-color--primary {
    color: var(--extensions-wisher-primary);
  }
}
