.extensions-wisher-wishes-collections-empty {
  margin-top: auto;

  text-align: center;

  &__title {
    margin: 24px 0;

    font-size: 20px;
    font-weight: 500;
  }

  &__description {
    margin-top: 0;
    margin-bottom: 24px;

    font-size: 14px;
    line-height: 18px;

    color: var(--extensions-mode-text-secondary);
  }

  &__action {
    margin-bottom: 24px;
  }

  &__ideas {
    padding: 0 16px;
    margin-bottom: 15px;
  }
}
