.extensions-wisher-wisher-empty-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  row-gap: 24px;

  padding: 0 16px;

  &__rating {
    display: grid;
  }

  &__rating-title {
    margin-bottom: 8px;

    font-size: 12px;

    color: #000000;

    text-align: center;
  }

  &__description {
    margin: 0;

    color: var(--extensions-mode-text-secondary);

    text-align: center;

    font-size: 14px;
    line-height: 20px;
  }

  &__action {
    padding: 24px 0;

    display: flex;
    width: 100%;

    column-gap: 16px;

    & > :first-child {
      flex: 1;
    }
  }
}
