.extensions-wisher-wishes {
  display: grid;

  overflow: auto;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background: hsl(271.19deg 69.69% 80.41%);
    border-radius: 3px;
  }
}
