.extensions-wisher-footer {
  overflow: hidden;

  height: var(--extensions-wisher-mode-footer-size);

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  border-bottom-left-radius: var(--extensions-mode-border-radius);
  border-bottom-right-radius: var(--extensions-mode-border-radius);

  & .extensions-wisher-ripple {
    --extensions-wisher-ripple-color: var(--extensions-wishes-accept);
  }
}
