.extensions-wisher-footer {
  overflow: hidden;

  height: var(--extensions-wisher-mode-footer-size);

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  border-bottom-left-radius: var(--extensions-mode-border-radius);
  border-bottom-right-radius: var(--extensions-mode-border-radius);

  &__message-nav-item-overlay {
    grid-area: 1/2 / 2/3;

    display: flex;
    align-items: center;
    justify-content: center;

    color: hsla(0, 0%, 0%, 0.2);

    cursor: pointer;

    &[is-message-item="true"] {
      animation: shoe-message-nav-item 200ms forwards ease-in-out;
    }

    &[is-message-item="false"] {
      animation: hide-message-nav-item 200ms forwards ease-in-out;
    }
  }

  & .extensions-wisher-ripple {
    --extensions-wisher-ripple-color: var(--extensions-wishes-accept);
  }
}

@keyframes shoe-message-nav-item {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: var(--extensions-wishes-accept);
  }
}

@keyframes hide-message-nav-item {
  0% {
    background-color: var(--extensions-wishes-accept);
  }

  100% {
    background-color: transparent;
  }
}
